<<<<<<< HEAD
<!-- src/views/user.hbs !-->
=======
>>>>>>> 54fe37f57f112ca125845b2dee8ae9855630670f
<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Пользователь</h1>
    <p>Имя: {{name}}</p>
    <p>Возраст: {{age}}</p>
</body>
</html>
